.org-content {
  margin: 60px auto;
  width: 1190px;
  min-height: 600px;
  font-size: 12px;

  &-info {
    display: inline-block;
    position: relative;
    width: 390px;
    border: 1px solid #dcdddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    .box-img {
      img {
        width: 100%;
        height: 265px;
      }
    }
    h3 {
      font-size: 18px;
    }
    .box-join {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 370px;
      height: 40px;
    }
  }

  &-right {
    display: inline-block;
    margin-left: 18px;
    width: 780px;
    vertical-align: top;

    .three {
      display: inline-block;
      margin-right: 10px;
      width: 250px;
      height: 140px;
      font-size: 14px;
      color: white;
      font-weight: 400;
      text-align: center;
      border-radius: 5px;
      -moz-border-radius: 5px;
      vertical-align: top;
      p {
        padding: 18px 0px;
      }
      h3 {
        font-size: 24px;
      }
    }
  }
  .hour {
    background-color: #77d484;
  }

  .people {
    background-color: #6acbb2;
  }

  .act {
    background-color: #5ca3c9;
  }
  .detail-h3 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
  }
  .detail-item-box {
    margin-top: 10px;
    width: 770px;
    height: 99px;
    border: 1px solid #dcdddd;
    border-radius: 5px;
    .img {
      img {
        float: left;
        margin-right: 20px;
        width: 140px;
        height: 99px;
        background-size: cover;
        background-position: center
      }
    }
    .detail-item-box-right {
      float: right;
      width: 200px;
      height: 99px;
      .time {
        padding-top: 20px;
        padding-right: 20px;
        font-size: 14px;
        text-align: right;
        color: #999;
      }
    }
    h3 {
      padding: 17px 0px;
      font-size: 18px;
      font-weight: 400;
    }
    .detail-item-box-day {
      margin: 0px 10px;
      span {
        float: left;
        color: #999;
        font-size: 14px;
      }
      .progress {
        float: left;
        margin: 5px 10px;
        width: 216px;
        height: 14px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}