.activity-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  width: 390px;
  border: 1px solid #dcdddd;
  border-radius: 5px;
  height: 376px;
  -moz-border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  text-align: center;
  &-img {
    img {
      width: 100%;
      height: 265px;
      background-size: cover;
      background-position: center;
    }

  }

  &-title {
    height: 41px;
    margin: 0px 10px;
    line-height: 41px;
    font-weight: 400;
    font-size: 18px;
    overflow: hidden;
  }
  &-day {
    
    margin: 0 auto;
    &-content {
      float: left;
      color: #999;
      font-size: 14px;
    }
    .el-progress {
      float: left;
      width: 216px;
    }
  }
  &-other {
    margin-top: 6px;
    color: #999;
    font-size: 14px;
    i {
      padding-right: 5px;
    }
    &-city {
      float: left;
      margin-left: 48px;
    }
    &-time {
      float: left;
      margin-left: 28px;
    }
    &-join {
      float: right;
      margin-right: 64px;
    }
  }

  &-pagination {
    text-align: center;
  }
}