.userManagement {
  .userManagement-nav {
    margin-bottom: 20px;
  }

  .el-dialog__footer {
    text-align: center;
  }

  &-title {
    margin-bottom: 15px;
  }

  &-body {
    .el-table__body-wrapper {
      .el-table__body {
        tbody {
          .el-table__row {
            td>div {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap !important;
            }
          }
        }
      }
    }

  }

  &-pagination {
    margin-top: 15px;
  }

}