.activities {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .search-form {
    margin-top: 20px;
    margin-bottom: 20px;
    .el-select .el-input {
      width: 130px;
    }
    .input-with-select .el-input-group__prepend {
      background-color: #fff;
    }
  }
  .activity-list {
    width: 1200px;
  }
}