.org {
  margin: 0px auto;
  width: 1190px;

  .search-form {
    margin: 30px auto 15px;

    .el-input-group {
      width: 32%;
    }
  }

  .org-list {
    margin-left: -10px;
    margin-top: 30px;
    width: 1200px;
    font-size: 0px;

    &-item {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 20px;
      padding: 20px;
      width: 248px;
      height: 140px;
      border: 1px solid #dcdddd;
      border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: white;
      vertical-align: top;

      &-content {
        padding-bottom: 20px;
        width: 248px;
        height: 88px;
        border-bottom: 1px solid #dcdddd;

        &-img {
          img {
            float: left;
            width: 88px;
            height: 88px;
            border-radius: 88px;
            -moz-border-radius: 88px;
            background-size: cover;
            background-position: center;
          }
        }

        &-title {
          display: block;
          padding-left: 20px;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &-other {
        margin-top: 10px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #999;
        text-align: center;

        i {
          margin-right: 6px;
        }
      }

      p {
        padding-left: 108px;
        padding-top: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #999;

        span {
          color: #5ec16b;
        }
      }
    }
  }
}